<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="/css/error.css">
    <meta HTTP-EQUIV="Content-Type" Content="text-html; charset=Windows-1252">
    <title>Error 403</title>
</head>
<body>
<table>
    <tr id="main-img">
        <td id="tableProps">
            <img id="metal" src="/img/403errorpic.jpeg">
        </td>
    </tr>
    <br>
    <tr id="tr2">
        <td id="tableProps2">
            <h1 id="errortype1">
                <span id="errorText">Error 403 - Forbidden due to Security Requirements</span>
            </h1>
            <h2 id="errortype2">
                <span id="errorText1">Please contact your Systems Administrator for access.</span></p>
            </h2>
            <h4><a th:href="@{/}">Click here to return to the home page</a></h4>
            <br>
            <button style="border-radius: 25px" type="submit" value="submit">Home</button>
            <br>
        </td>
    </tr>
</table>
</body>
</html>