<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="/css/error.css">
    <meta HTTP-EQUIV="Content-Type" Content="text-html; charset=Windows-1252">
    <title>Error 500 Internal Server Error</title>
</head>
<body>
<table>
    <tr id="main-img">
        <td id="tableProps">
            <img id="metal" src="/img/500errorpic.png">
        </td>
    </tr>
    <br>
    <tr id="tr2">
        <td id="tableProps2">
            <h1 id="errortype1">
                <span id="errorText">Error 500 Internal Server</span>
            </h1>
            <h2 id="errortype2">
                <span id="errorText1">ErrorOops, something went wrong.<p>
                    The server encountered an internal error or misconfiguration and was unable to complete your request.</span></p>
            </h2>
            <p>
                The page you are looking for might have been
                removed or had its name changed, but it's much more likely Dethklok got it. These things
                happen.
            </p>
            <hr>
            <p id="LID4">
                Please try the following:
            </p>
            <ul>
                <li id="list5">Reload the web page. You can do that by selecting the refresh/reload button, pressing F5 or Ctrl+R, or trying the URL again from the address bar.
                </li>
                <li id="list6">Clear your browser's cache. If there's a problem with the cached version of the page you're viewing, it could be causing HTTP 500 issues.
                </li>
                <li id="list7">Contact the website administrator at 210-802-7289.
                </li>
            </ul>
            <h2 id="ietext0">
                Error 500 Internal Server Error<br>
            </h2>
        </td>
    </tr>
</table>
</body>
</html>