body {
	background-image:url("/img/fog.jpg");
	background-size: cover;
	color: aliceblue;
}

#tr2 {
	justify-content: start;
	align-items: start;
	align-content: start;
}

hr {
	color:#C0C0C0
}

a:link {
	font:8pt/11pt verdana; color:red;
}

a:visited {
	font:8pt/11pt verdana;
	color:#4e4e4e
}
#metal{
	width: 600px;
	height: auto;
}

#tableProps {
	display: flex;
	position: relative;
	text-align: center;
	align-items: center;
	justify-content: center;
}
#broken-guitar{
display: flex;
position: relative;
	float: left;
	height: 75vh;
	width: 25vw;
	/*width: 25%;*/
	/*height: 75%;*/
}