/*----------------global body settings/colors/styles-------------------*/

body {
    box-sizing: border-box;
    background-image: url(../img/NewBackground-byob.png) !important;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/*--------------------------------------------NAV BAR-----------------------------------------*/

.navbar-custom {
    --bs-body-line-height: 3 !important;
    font-size: 14px;
    background-color: black !important;
    color: black !important;
    box-shadow: rgba(120, 193, 238, 0.65) 0px 20px 20px, rgba(138, 180, 196, 0.84) 0px -12px 30px, rgb(255, 255, 255) 0px 4px 6px;
}

.navbar-custom .navbar-brand {
    text-align: center;
    color: white !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
}

.nav-item .nav-link {
    text-align: center;
    color: white !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-dark .navbar-nav .nav-link {
    text-align: center;
    display: inline;
    text-transform: uppercase;
    font-size: 16px !important;
    text-decoration: none;
    color: white;
    font-family: Arial, serif !important;
    transition: 0.3s ease;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    margin: 0 10px;
    padding: 5px 0;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    border-top: 4px solid #000000;
    border-bottom: 4px solid #000000;
    background: #82a5b2;
    padding: 6px 0;
    border-radius: 25px;
    text-shadow: 6px 6px 0px rgba(255, 255, 255, 0.2);
}

.navbar-nav{
display: flex;
}

.nav-item{
    margin: auto;
}

#home-img{
    height: 65px;
    width: 65px;
}

/*-------------------------Social Media Link positioning -------------------*/
.social-media {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    text-align: center;
}

/*------------------------Containers for forms and profile------------------*/
.container {
    margin-top: 40px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

/*------------------------inner cards with that hold data-------------*/
.container .card {
    position: relative;
    width: 600px;
    height: 650px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);
}

/*------------------profile page bio cards----------------*/
.profile-top {
    background: #1F3445;
    display: flex;
    height: 170px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: #f1f1f1 solid 1px;
}

.profile-header{
    border: white 2px solid;
    font-family: 'Paytone One', sans-serif;
    background: rgba(11, 99, 128, 0.7);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-bottom: #f1f1f1 solid 1px;
    text-shadow: 2px 2px 4px black;
    height: 83px;
    border-radius: 15px;
}

.profile-photo {
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    z-index: 1;
}


.profile-info {
    padding: 5px;
    margin: 5px;
    text-align: center;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    background: rgba(11, 99, 128, 0.7);
    font-size: 16px;
    border: #f1f1f1 solid 2px;
    height: 490px;
    border-radius: 15px;
    overflow: hidden;
}


th {
    font-family: 'Paytone One', sans-serif;
    text-decoration: underline;
    text-shadow: 2px 2px 4px black;
    color: white;
}



table, th, td {
    text-align: center;
    padding: 5px;
}

.profile-label {
    text-decoration: underline;
    font-family: 'Paytone One', sans-serif;
    text-shadow: 2px 2px 4px black;
}

.profile-input {
    text-align: center;
    border: none;
    background-color: transparent;
    color: white;
    font-style: italic;
}

.portrait {
    align-self: start;
    height: 75px;
    width: 75px;
}

.media-link{
    text-decoration: underline;
    color: gold;
}

.edit-anchor {
    color: #f1f1f1;
}


.container-bio {
    color: white;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-bio .bio-card {
    position: relative;
    width: 425px;
    /*height: 74vh;*/
    margin: 10px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);
}

/*---------------------about us page styles---------------------*/

.container-about {
    margin-top: 50px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-about .card-about {
    position: relative;
    width: 600px;
    height: 150px;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: #1F3445;
    overflow: auto;
    display: flex;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);
}

.byob-definition {
    padding: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
    display: flex;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);
    margin-left: 85px;
    margin-right: 85px;
    background: #1F3445;
}


.portrait{
    width: 148px;
    height: 148px;
}

.verbiage {
    padding: 10px;
    text-align: center;
    width: 600px;
   position: relative;
    height: 100%;
}

.user-icons{
    position: absolute;
    bottom: 0;
    align-content: center;
    font-size: 12px;
}

.fa-brands{
    color: white;
}

/*-------------------------login form styles, can make global for registration and edit------*/
.loginTitle {
    text-align: center;
    color: white;
    text-shadow: -1px 0 black, 0 7px black, 1px 0 black, 0 -1px black;
}

.eventCreateTitle{
    margin-bottom: 30px;
}

form {
    color: white;
    font-family: Arial, serif;
    text-align: center;
    background: none;
    text-wrap: normal;
    width: 450px
}

.profile-form {
    padding: 5px;
    margin: 5px;
    text-align: center;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    background: rgba(11, 99, 128, 0.7);
    font-size: 16px;
    border: #f1f1f1 solid 2px;
    height: 490px;
    border-radius: 15px;
    width: auto;
}


/*input[type="text"] {*/
/*    width: auto;*/
/*}*/


input[type="url"] {
    width: 100%;
}
/*---------------input and submit button styles, can use for all forms--------*/

.event-input {
    text-align: center;
    border-radius: 25px;
    width: 60%;
}

.login-input {
    text-align: center;
    border-radius: 25px;
    width: 80%;
}
.register-input {
    text-align: center;
    border-radius: 25px;
    width: 80%;
    height: 30px;
    margin: 5px;
    background: white;
}


button {
    border-radius: 25px;
    text-align: center;
    width: auto;
    height: 40px;
}

.content{
    color: white;
    text-align: center;
   /*width: 90%;*/
}

/*---------------validation fields that pop up--------------------*/

#message {
    display: none;
    margin-top: 5px;
    margin-bottom: 0;
    position: relative;
    align-self: center;
    padding: 2px;

}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}

/*-----------------Browse Post Cards----------------------------------*/

.mini-img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    top: -40px;
    position: relative;
    z-index: 2;
}

.info{
    font-size: 18px;
    font-family: 'Paytone One', sans-serif;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.grid {
    margin-top: 30px;
    display: grid;
    justify-content: space-around;
    align-content: space-between;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
    /*grid-auto-rows: 310px;*/
}

.grid > article {
    display: grid;
    text-decoration: none;
    grid-auto-rows: 250px;
   margin-top: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);
}

.card-text {
    text-align: center;
    text-decoration: none;
    position: relative;
    z-index: -1;
}

.username-small {
    font-size: 28px;
    color: #fff;
    text-align: center;
    text-shadow: 4px 4px 8px deepskyblue;
}

/*------------------------------FLIP CARDS FOR EVENTS LIST------------------------*/

.page-header {
    margin: 10px;
    color: white;
    text-shadow: 4px 4px 8px black;
    text-align: center;
    font-family: 'Paytone One', sans-serif;
    font-size: 40px;
}

.flip-card {
    display: grid;
    grid-auto-rows: 300px;
    margin-top: 25px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    color: white;
    text-align: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}


.event-card-title {
   font-family: 'Paytone One', sans-serif;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgba(11, 99, 128, 0.7);
    height: 60px;
    border-bottom: #f1f1f1 solid 1px;
}

.event-description {
    font-size: 18px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Style the front side (fallback if image is missing) */

.flip-card-font{
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

/* Style the back side */
.flip-card-back {
    background: rgba(11, 99, 128, 0.7);
    color: white;
    transform: rotateY(180deg);
}

.back-card-form{
    color: white;
    font-family: Arial, serif;
    text-align: center;
    background: none;
    text-wrap: normal;
}
/*-------------------Filter Bar--------------------------*/

/* The sidepanel menu */
.sidepanel {
    border-radius: 15px;
    background: rgb(4,23,30);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.93);
    margin-top: 60px ;
    height: 90vh; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
    font-size: 28px;
    cursor: pointer;
    background: none;
    color: white;
    /*padding: 10px 15px;*/
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

.filter-button{
    display: flex;
    float: right;
}

.instHide {
    display: none !important;
}
.desHide{
    display: none;
}
.bioHide{
    display: none;
}
.hide{
    display: none;
}

.imgHide {
    display: none;
}

/*----------------created break point to move to a hamburger button and resize photo-----------*/
@media only screen and (max-width: 480px) {
    body {
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
}

.searchForm {
    text-align: start;
}
