body {
    background-image: url(../img/NewBackground-byob.png) !important;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

@media (min-width: 710px) {
    body {
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
}

.navbar-custom {
    font-size: 22px;
    background-color: black !important;
    color: black !important;
    box-shadow: rgba(120, 193, 238, 0.65) 0px 54px 55px, rgba(138, 180, 196, 0.84) 0px -12px 30px, rgb(255, 255, 255) 0px 4px 6px, rgb(255, 255, 255) 0px 12px 13px, rgb(255, 255, 255) 0px -3px 5px;
}

.navbar-custom .navbar-brand {
    text-align: center;
    color: white !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black!important;
}

.nav-item  .nav-link{
    text-align: center;
    color: white !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black!important;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-dark .navbar-nav .nav-link {
    text-align: center;
    display: inline;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-family: "open-sans", serif;
    transition: 0.3s ease;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    margin: 0 10px;
    padding: 10px 0;

}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
     border-top: 4px solid #000000;
     border-bottom: 4px solid #000000;
     background: #82a5b2;
     padding: 6px 0;
     border-radius: 15%;
     text-shadow: 6px 6px 0px rgba(255,255,255,0.2);
 }

.social-media{
    display: flex;
    flex-direction: row;
    text-align: center;
}
