<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <head th:replace="partials/fragment :: head('B.Y.O.B About Us')"></head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/fragment :: navbar"></nav>
<div class="content">
    <h1 class="page-header">About Us</h1>
    <p class="byob-definition"> B.Y.O.B. (Build Your Own Band) was created for people who love music and those who love
        playing music. Life happens and sometimes people need to find another person for a music gig or venues need a
        band. We felt the need for this and wanted to create a spot where people can
        find each other to make music.</p>
    <div class="container-about">
        <div class="card-about">
            <div class="photos">
                <img class="portrait" src="/img/kelvin.png">
            </div>
            <div class="verbiage">
                <h6>Kelvin Wade</h6>
                <p>Full Stack Developer and Codeup Graduate.</p>
                <div class="user-icons"><a href="https://github.com/Kdwade1" target="_blank"><i class="fa-brands fa-github"
                                                                                style="display: flex">&nbsp;&nbsp;<p style="font-family: Arial; font-size: 14px;margin-bottom: 5px">
                    GitHUb</p></i></a><a href="https://www.linkedin.com/in/kelvin-wade/" target="_blank"><i
                        class="fa-brands fa-linkedin" style="display: flex">&nbsp;&nbsp;<p style="font-family: Arial; font-size: 14px;margin-bottom: 5px">Linkden</p></i></a>
                    <a href="https://alumni.codeup.com/students/1537" target="_blank" style="display: flex"><img src="/img/image.png" width="15" height="14">&nbsp;&nbsp;<p style="font-family: Arial; font-size: 14px;margin-bottom: 5px; color: white">Codeup Alumni Portal</p></a>
                </div>
            </div>
        </div>
        <div class="card-about">
            <div class="photos">
                <img class="portrait" src="/img/juan.png">
            </div>
            <div class="verbiage">
                <h6>Juan Silva</h6>
                <p>Full Stack Developer and Codeup Graduate.</p>
                <div class="user-icons"><a href="https://github.com/Silvanote" target="_blank"><i class="fa-brands fa-github"
                                                                                  style="display: flex">&nbsp;&nbsp;<p style="font-family: Arial; font-size: 14px; margin-bottom: 5px ">
                    GitHUb</p></i></a><a href="https://www.linkedin.com/in/juan-silvawd/" target="_blank"><i
                        class="fa-brands fa-linkedin" style="display: flex">&nbsp;&nbsp;<p style="font-family: Arial; font-size: 14px; margin-bottom: 5px">Linkden</p></i></a>
                    <a href="https://alumni.codeup.com/students/1526" target="_blank" style="display: flex"><img src="/img/image.png" width="15" height="14">&nbsp;&nbsp;<p style="font-family: Arial; font-size: 14px;margin-bottom: 5px; color: white">Codeup Alumni Portal</p></a>
                </div>
            </div>
        </div>
        <div class="card-about">
            <div class="photos">
                <img class="portrait" src="/img/scott.png">
            </div>
            <div class="verbiage">
                <h6>Scott  Roberts </h6>
                <p>Full Stack Developer and Codeup Graduate.</p>
                <div class="user-icons">
                    <a href="https://alumni.codeup.com/students/1534" target="_blank"><i class="fa-brands fa-github" style="display: flex">&nbsp;&nbsp;<p style="font-family: Arial; font-size: 14px; margin-bottom: 5px">GitHUb</p></i></a>
                    <a href="https://www.linkedin.com/in/scott-w-roberts/" target="_blank"><i
                        class="fa-brands fa-linkedin" style="display: flex">&nbsp;&nbsp;<p style="font-family: Arial; font-size: 14px; margin-bottom: 5px">Linkden</p></i></a>
                    <a href="https://www.linkedin.com/in/banksshane/" target="_blank" style="display: flex"><img src="/img/image.png" width="15" height="14">&nbsp;&nbsp;<p style="font-family: Arial; font-size: 14px;margin-bottom: 5px; color: white">Codeup Alumni Portal</p></a>
                </div>
            </div>
        </div>
        <div class="card-about">
            <div class="photos">
                <img class="portrait" src="/img/shane.png">
            </div>
            <div class="verbiage">
                <h6>Shane Banks</h6>
                <p>Full Stack Developer and Codeup Graduate.</p>
                <div class="user-icons">
                    <a href="https://github.com/s-banks" target="_blank"><i class="fa-brands fa-github" style="display: flex">&nbsp;&nbsp;&nbsp;<p style="font-family: Arial; font-size: 14px;margin-bottom: 5px">
                    GitHUb</p></i></a><a href="https://www.linkedin.com/in/banksshane/" target="_blank"><i
                        class="fa-brands fa-linkedin" style="display: flex">&nbsp;&nbsp;&nbsp;<p style="font-family: Arial; font-size: 14px;margin-bottom: 5px">Linkden</p></i></a>
                    <a href="https://alumni.codeup.com/students/1536" target="_blank" style="display: flex"><img src="/img/image.png" width="15" height="14">&nbsp;&nbsp;<p style="font-family: Arial; font-size: 14px;margin-bottom: 5px; color: white">Codeup Alumni Portal</p></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="partials/fragment :: script"></div>
</body>
</html>

