<!DOCTYPE html>
<html lang="en">
<head>
    <head th:replace="partials/fragment :: head('About Us')"></head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/fragment :: navbar"></nav>
<div class="content">
    <h1 class="loginTitle" style="margin-top: 90px">About Us</h1>
    <p class="byob-definition"> B.Y.O.B. (Bring Your Own Band) was created for people who love music and those who love
        playing music. Life happens and sometimes people need to find another person for a music gig or venues need a
        band. We (Scott, Shane, Kelvin and Juan) felt the need for this and wanted to create a spot where people can
        find each other to make music.</p>
    <div class="container-about">
        <div class="card-about">
            <div class="photos">
            <img class="portrait" src="/img/kelvin.png">
            </div>
            <div class="verbiage">
            <p>Hi I am Kelvin and I ran to work this a.m. because Samuel forgot to let me know he wasn't coming this a.m.</p>
            </div>
        </div>
        <div class="card-about">
            <div class="photos">
                <img class="portrait" src="/img/juan.png">
            </div>
            <div class="verbiage">
                <p>Hi I am Juan and I enjoyi long walks on the beach and Nicorate gum. I prefer the 4mg dose as it soothes the soul. NOT!</p>
            </div>
        </div>
        <div class="card-about">
            <div class="photos">
                <img class="portrait" src="/img/scott.png">
            </div>
            <div class="verbiage">
                <p>Hi I am Scott and I am a 51-year-old man going on 13. </p>
            </div>
        </div>
        <div class="card-about">
            <div class="photos">
                <img class="portrait" src="/img/shane.png">
            </div>
            <div class="verbiage">
                <p>Hi I am Shane and I like Kilts and Beards!</p>
            </div>
        </div>
    </div>
</div>
<div th:replace="partials/fragment :: script"></div>
</body>
</html>