<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/fragment :: head('Browse List')"></head>
<body>
<nav th:replace="partials/fragment :: navbar"></nav>
<div class="grid-container">
    <div class="page-header">Events</div>
    <main class="grid">
        <div class="flip-card" th:each="event: ${event}">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <div class="event-card-title">
                        <span th:text="${event.title}"/>
                    </div>
                    <div class="event-description">
                        <p><span th:text="${event.description}"/></p>
                    </div>
                </div>
                <div class="flip-card-back">
                    <br><img src="/img/il_logo.jpg" alt="Avatar" style="width:100px;height:100px;"><br>
                    <p><span th:text="${event.location}"/></p>
                    <p><span th:text="${event.date}"/></p>
                    <p><span th:text="${event.time}"/></p>
                    <p>username?</p>
                </div>
            </div>
        </div>
    </main>
</div>
<div th:replace="partials/fragment :: script"></div>
</body>
</html>