<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/fragment :: head('B.Y.O.B All Events')"></head>
<body>
<nav th:replace="partials/fragment :: navbar"></nav>
<div id="mySidepanel" class="sidepanel">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	<br><br>
	<form class="searchForm" th:action="@{/events/search}" th:method="POST">
		Please enter a location and date<br>to begin search.
		<br><br>
		<label for="city"><span class="required">* </span>City:</label>
		<br>
		<input style="border-radius: 15px" type="text" name="city" id="city" required>
		<br><br>
		<label for="state"><span class="required">* </span>State:</label>
		<br>
		<input  style="border-radius: 15px" type="text" name="state" id="state" required maxlength="2">
		<br><br>
		<label for="date"><span class="required">* </span>Date:</label>
		<br>
		<input style="border-radius: 15px" type="date" name="date" id="date" required>
		<br><br>
		<button type="submit">Submit</button>
	</form>
</div>
<div class="grid-container">
    <div class="page-header">Events
		<div class="filter-button">
			<button class="openbtn" onclick="openNav()"><i class="fa-solid fa-filter" style="color: white"></i></button>
		</div>
	</div>
	<div class="alert alert-danger" th:if="${param.noresults}" style="margin-bottom: 3em">
		Sorry, no results were found for that location and/or date. Please try your search again.<br />
	</div>
    <main class="grid">
        <div class="flip-card" th:each="event: ${events}">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <div class="event-card-title">
                        <span th:text="${event.title}"/>
                    </div>
                    <div class="event-description">
                        <p><span th:text="${event.description}"/></p>
						<p style="margin-top: 10px">
							<span th:text="${event.city} + ', ' + ${event.state}"/>
							<br>
							<span class="date" th:text="${event.date}"/>
							<br>
							<th:block th:switch="${event.time.substring(0,2)}">
								<span th:case="00" th:text="${'12:' + event.time.substring(3,5) + ' AM'}" class="card-text">Time: </span>
								<span th:case="01" th:text="${'1:' + event.time.substring(3,5) + ' AM'}" class="card-text">Time: </span>
								<span th:case="02" th:text="${'2:' + event.time.substring(3,5) + ' AM'}" class="card-text">Time: </span>
								<span th:case="03" th:text="${'3:' + event.time.substring(3,5) + ' AM'}" class="card-text">Time: </span>
								<span th:case="04" th:text="${'4:' + event.time.substring(3,5) + ' AM'}" class="card-text">Time: </span>
								<span th:case="05" th:text="${'5:' + event.time.substring(3,5) + ' AM'}" class="card-text">Time: </span>
								<span th:case="06" th:text="${'6:' + event.time.substring(3,5) + ' AM'}" class="card-text">Time: </span>
								<span th:case="07" th:text="${'7:' + event.time.substring(3,5) + ' AM'}" class="card-text">Time: </span>
								<span th:case="08" th:text="${'8:' + event.time.substring(3,5) + ' AM'}" class="card-text">Time: </span>
								<span th:case="09" th:text="${'9:' + event.time.substring(3,5) + ' AM'}" class="card-text">Time: </span>
								<span th:case="10" th:text="${'10:' + event.time.substring(3,5) + ' AM'}" class="card-text">Time: </span>
								<span th:case="11" th:text="${'11:' + event.time.substring(3,5) + ' AM'}" class="card-text">Time: </span>
								<span th:case="12" th:text="${'12:' + event.time.substring(3,5) + ' PM'}" class="card-text">Time: </span>
								<span th:case="13" th:text="${'1:' + event.time.substring(3,5) + ' PM'}" class="card-text">Time: </span>
								<span th:case="14" th:text="${'2:' + event.time.substring(3,5) + ' PM'}" class="card-text">Time: </span>
								<span th:case="15" th:text="${'3:' + event.time.substring(3,5) + ' PM'}" class="card-text">Time: </span>
								<span th:case="16" th:text="${'4:' + event.time.substring(3,5) + ' PM'}" class="card-text">Time: </span>
								<span th:case="17" th:text="${'5:' + event.time.substring(3,5) + ' PM'}" class="card-text">Time: </span>
								<span th:case="18" th:text="${'6:' + event.time.substring(3,5) + ' PM'}" class="card-text">Time: </span>
								<span th:case="19" th:text="${'7:' + event.time.substring(3,5) + ' PM'}" class="card-text">Time: </span>
								<span th:case="20" th:text="${'8:' + event.time.substring(3,5) + ' PM'}" class="card-text">Time: </span>
								<span th:case="21" th:text="${'9:' + event.time.substring(3,5) + ' PM'}" class="card-text">Time: </span>
								<span th:case="22" th:text="${'10:' + event.time.substring(3,5) + ' PM'}" class="card-text">Time: </span>
								<span th:case="23" th:text="${'11:' + event.time.substring(3,5) + ' PM'}" class="card-text">Time: </span>
							</th:block>
						</p>
                    </div>
                </div>
                <div class="flip-card-back">
					<br><a th:href="${event.flyer}" target="_blank"><img th:src="${event.flyer}" alt="Avatar"
																		 id="eventImg" style="width:100px;height:100px;"
																		 onerror="this.style.display='none'"/></a><br>
					<div class="edit-delete" style="display: flex; align-content: center; justify-content: center">
                    <th:block th:if="${currentUser != null && currentUser.id == event.getOwner().getId()}">
                        <form id="edit" class="back-card-form" th:action="@{'/events/'+ ${event.getId()}+'/edit'}" th:method="GET"
                              style="margin:0;padding:0;">
                            <a th:type="submit" th:href="@{'/events/'+ ${event.getId()}+'/edit'}">
								<i class="fa-solid fa-pen-to-square" style="color: white"></i>
                            </a>
                        </form>
                    </th:block>
						<th:block th:if="${currentUser != null && currentUser.id == event.getOwner().getId()}">
							<form id="delete" class="form" th:action="@{'/events/'+${event.getId()}}" th:method="POST"
								  style="margin:0;padding:0;"
								  onsubmit="return confirm('Do you really want to delete this Event?');">
								<button class="delete-btn" type="submit" th:value="*{id}" onclick="validation()">
									<i class="fa-solid fa-trash-can" style="color: white"></i></button>
							</form>
						</th:block>
					</div>
						<form class="form" th:action="@{/profile/contact}" th:method="POST"
							  style="margin: 0; padding: 0">
							<p>Posted by: <a  style="color: #ef2c61" th:href="'/profile/' + ${event.getOwner().getUsername()}"><span
									th:text="${event.getOwner().getUsername()}"/></a>
								<input type="hidden" id="toUser" name="toUser" th:value="${event.getOwner().getId()}">
								<input type="hidden" id="subject" name="subject"
									   th:value="'Event: ' + ${event.getTitle()}">
								<br>
								<span sec:authorize="isAuthenticated()">Contact the owner about this event:</span>
								<button type="submit" sec:authorize="isAuthenticated()"><i
										class="fa-regular fa-envelope" sec:authorize="isAuthenticated()"></i>
								</button>
							</p>
						</form>
					</div>
				</div>
			</div>
		</main>
	</div>

	<script>
		function openNav() {
			document.getElementById("mySidepanel").style.width = "250px";
		}

		/* Set the width of the sidebar to 0 (hide it) */
		function closeNav() {
			document.getElementById("mySidepanel").style.width = "0";
		}

	</script>
	<div th:replace="partials/fragment :: script"></div>
</body>
</html>
