<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/fragment :: head('Browse List')"></head>
<body>
<nav th:replace="partials/fragment :: navbar"></nav>
<div class="grid-container">
    <main class="grid">
        <article th:each="user : ${users}">
            <a class="card-text" href="/profile">
            <img class="mini-img" th:src="${user.profile_img}">
            <div class="info">
                <h4 class="username-small"><span th:text="${user.getUsername()}"/></h4>
                <h4 class="username-small"><span th:text="${user.getInstruments()}"/></h4>
                <div th:each="instrument: ${instruments}">
                <b>Instrument:</b> &nbsp;&nbsp;<em><span th:text="${instrument.instruments.instName}"></span></em>
                - <em><span th:text="${instrument.skill}"></span></em> - <em>Genre</em>
                <br>
                </div>
            </div>
            </a>
        </article>
    </main>
</div>
<div th:replace="partials/fragment :: script"></div>
</body>
</html>
