<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/fragment :: head('BYOB Home')"></head>
<body>
<nav th:replace="partials/fragment :: navbar"></nav>
<div class="banner"><h4 class="action-banner">Have you ever wanted to start your own band? Are you a band looking for members? or are you an event coordinator looking for musicians/bands? Then Click <a style="color: #ef2c61" href="/register">here</a> to register!</h4></div>
</body>
</html>