<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/fragment :: head('BYOB Home')"></head>
<body>
<nav th:replace="partials/fragment :: navbar"></nav>
<div class="banner"><h4 class="action-banner">Have you ever wanted to start your own band? Are you a band looking for members? Or are you an event coordinator looking for musicians/bands?</h4></div>
<div class="button-placement" style="display: flex; align-content: center; justify-content: center; margin:5px"><a class="main-button"  href="/register">Click here!</a></div>
</body>
</html>