<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <head>
        <head th:replace="partials/fragment :: head('pasword-successfully-changed')"></head>
        <meta charset="UTF-8">
        <title>Password Successfully Changed</title>
    </head>
<body>
<nav th:replace="partials/fragment :: navbar"></nav>
<div class="container">
    <div class="card">
        <h1 class="loginTitle">Password Successfully Changed</h1>
        <br>
        <button style="border-radius: 25px" type="submit" value="submit">Okay, You're In!</button>
        <br>
    </div>
</div>
</body>
</html>