<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <head th:replace="partials/fragment :: head('Your Profile')"></head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/fragment :: navbar"></nav>
<div sec:authorize="!isAuthenticated()">
    <br>
    <h1>Not Authorized</h1>
</div>
<div class="container-bio" sec:authorize="isAuthenticated()">
    <div class="bio-card">
        <div class="profile-header">
            <h3>Profile Info</h3>&nbsp;&nbsp;&nbsp;<a style="color: #71C3EA" href="/profile"><i class="fa-solid fa-gear"></i></a>
        </div>
        <div class="profile-info">
            <form class="profile-form" th:action="@{/profile}" th:method="post">
                <label th:for="name">Name:</label>
                <input class="profile-input" type="text" th:id="name" th:name="name" disabled th:value="${#authentication.principal.firstName + ' ' + #authentication.principal.lastName}"/><br>
                <br><label th:for="city">City:</label>
                <input class="profile-input" type="text" th:id="city" th:name="city" disabled th:value="${#authentication.principal.city}"/><br>
				<br><label th:for="state">State</label>
				<input class="profile-input" type="text" th:id="state" th:name="state" disabled th:value="${#authentication.principal.state}"/><br>
                <br><label th:for="email">Email:</label>
                <input class="profile-input" type="text" th:id="email" th:name="email" disabled th:value="${#authentication.principal.email}"/><br>
            </form>
        </div>
    </div>
    <div class="bio-card">
        <div class="profile-top"><img class="profile-photo" th:src="${#authentication.principal.profile_img}">&nbsp;&nbsp;&nbsp;<a style="color: #71C3EA" href="/profile"><i class="fa-solid fa-gear"></i></a></div>
        <div class="user-title"><b><i><span th:text="${#authentication.principal.username}"/></i></b></div>
        <br>
        <div class="description"><span th:text="${#authentication.principal.description}"/></div>
        <br>
        <div class="media">
            <b>Social Media:</b><br>
            <a th:href="@{|${#authentication.principal.social_media}|}" target="_blank"><span
                    th:text="${#authentication.principal.social_media}"/></a>
            <br><br>
            <b>YouTube Page:</b><br>
            <a th:href="@{|${#authentication.principal.youtube}|}" target="_blank"><span
                    th:text="${#authentication.principal.youtube}"/></a>
        </div>
    </div>
    <div class="bio-card">
        <div class="skills-header">
            <h3>Skills</h3>&nbsp;&nbsp;&nbsp;<a style="color: #71C3EA" href="/profile"><i class="fa-solid fa-gear"></i></a>
        </div>
        <div class="skills">
            <div th:each="instrument: ${instruments}">
                <b>Instrument:</b> &nbsp;&nbsp;<em><span th:text="${instrument.instruments.instName}"></span></em>
                - <em><span th:text="${instrument.skill + ' - ' + instrument.genre.title}"></span></em>
                <br><br>
            </div>
        </div>
    </div>
</div>
</body>
</html>
