<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head>
    <head th:replace="partials/fragment :: head('Your Profile')"></head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/fragment :: navbar"></nav>
<div sec:authorize="!isAuthenticated()">
    <br>
    <h1>Not Authorized</h1>
</div>
<div class="container-bio" sec:authorize="isAuthenticated()">
    <div class="bio-card">
        <div class="profile-header">
            <h3>Profile Info</h3>&nbsp;&nbsp;&nbsp;<a class="edit-anchor" href="/profile"><i
                class="fa-solid fa-pen-to-square"></i></a>
        </div>
        <form class="profile-form" th:action="@{/profile}" th:method="post">
            <label class="profile-label" th:for="name">Name:</label>
            <input class="profile-input" type="text" th:id="name" th:name="name" disabled
                   th:value="${#authentication.principal.firstName + ' ' + #authentication.principal.lastName}"/><br>
            <br><label class="profile-label" th:for="city">City:</label>
            <input class="profile-input" type="text" th:id="city" th:name="city" disabled
                   th:value="${#authentication.principal.city}"/><br>
            <br><label class="profile-label" th:for="state">State</label>
            <input class="profile-input" type="text" th:id="state" th:name="state" disabled
                   th:value="${#authentication.principal.state}"/><br>
            <br><label class="profile-label" th:for="email">Email:</label>
            <input class="profile-input" type="text" th:id="email" th:name="email" disabled
                   th:value="${#authentication.principal.email}"/><br>
        </form>
    </div>
    <div class="bio-card">
        <div class="profile-header"><img class="profile-photo" th:src="${#authentication.principal.profile_img}">&nbsp;&nbsp;&nbsp;<a
                class="edit-anchor" href="/profile"><i class="fa-solid fa-pen-to-square"></i></a>
        </div>
        <div class="profile-info-middle">
            <form class="profile-form" th:action="@{/profile}" th:method="post">
                <label class="profile-label" th:for="description">Description:</label><br>
                <textarea class="profile-input" type="text" th:id="description" th:name="description"
                          rows="4" cols="25" style="resize: none" disabled
                          th:inline="text">[[${#authentication.principal.description}]]</textarea><br>
                <label class="profile-label">Social Media:</label>
                <a th:href="@{|${#authentication.principal.social_media}|}" target="_blank">
                    <input style="color: cornflowerblue; text-decoration: underline" type="url" class="profile-input"
                           name="media" disabled
                           th:value="${#authentication.principal.social_media}"/><br></a>
                <label class="profile-label">Youtube:</label>
                <a th:href="@{|${#authentication.principal.youtube}|}" target="_blank">
                    <input style="color: cornflowerblue; text-decoration: underline" type="url"
                           class="profile-input" name="media" disabled
                           th:value="${#authentication.principal.youtube}"/></a>
            </form>
        </div>
    </div>
    <div class="bio-card">
        <div class="profile-header">
            <h3>Instruments</h3>&nbsp;&nbsp;&nbsp;
        </div>
        <div class="profile-info">
        <table class="instrument-table">
            <i class="fa-solid fa-pen-to-square" id="addInst"></i>
        <thead>
        <tr>
            <th>Instrument</th>
            <th>Proficiency</th>
            <th>Genre</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="instrument: ${instruments}">
            <tr>
                <td th:text="${instrument.instruments.instName}"></td>
                <td th:text="${instrument.skill}"></td>
                <td th:text="${instrument.genre.title}"></td>
            </tr>
        </div>
        </tbody>
        </table>
        <table class="instrument-table instHide" id="instForm">
            <form th:action="@{/profile/addinst}" th:method="POST" th:object="${newProficiency}">
                <tr>
                    <td><select th:id="instruments" th:name="instruments" required style="width: 110px; height: auto; font-size: 12px">
                        <option value="">Instrument</option>
                        <option value="1">Acoustic Guitar</option>
                        <option value="2">Electric Guitar</option>
                        <option value="3">Bass Guitar</option>
                        <option value="4">Piano</option>
                        <option value="5">Vocalist</option>
                        <option value="6">Drummer</option>
                        <option value="7">Trumpet</option>
                        <option value="8">Violin</option>
                        <option value="9">Saxophone</option>
                    </select></td>
                    <td><select th:id="skill" th:name="skill" required style="width: 100px; height: auto; font-size: 12px">
                        <option value="">Proficiency</option>
                        <option value="Acoustic Guitar">Novice</option>
                        <option value="Intermediate">Intermediate</option>
                        <option value="Expert">Expert</option>
                    </select></td>
                    <td><select th:id="genre" th:name="genre" required style="width: 90px; height: auto; font-size: 12px">
                        <option value="">Genre</option>
                        <option value="1">Rock & Roll</option>
                        <option value="2">Jazz</option>
                        <option value="3">Blues</option>
                        <option value="4">R & B</option>
                        <option value="5">Pop</option>
                        <option value="6">Metal</option>
                        <option value="7">Metal Core</option>
                        <option value="8">Death Core</option>
                        <option value="9">Death Metal</option>
                        <option value="10">Punk</option>
                        <option value="11">Grunge</option>
                        <option value="12">Pop Punk</option>
                        <option value="13">Country</option>
                        <option value="14">Reggae</option>
                        <option value="15">Indies</option>
                    </select></td>
                </tr>
                <tr><td></td><td><button style="border-radius: 25px; font-size: 12px" type="submit" value="submit">Submit</button></td><td></td></tr>
            </form>
        </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/instform.js"></script>
<div th:replace="partials/fragment :: script"></div>
</body>
</html>