<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/fragment :: head('New Password')"></head>
<body>
<nav th:replace="partials/fragment :: navbar"></nav>
<div class="container">
    <div class="card">
        <h1 class="loginTitle">Reset Password</h1>
        <p>Please enter your new password:</p>
        <div class="alert alert-danger" th:if="${param.pfail}"th:with="errorMsg='This passwords do not match'">
            Your password reset was not successful, please try again.<br />
            Reason: <span th:text="${errorMsg}">Wrong input!</span>
        </div>
        <form th:action="@{/verifyreset}"method="post">
            <br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" placeholder="Password" required><br>
            <br>
            <label for="passwordconfirm">Verify Password:</label><br>
            <input type="password" id="passwordconfirm" name="passwordconfirm" placeholder="Verify password" required><br>
            <br>
            <label for="username">User Name:</label><br>
            <input type="hidden" id="username" name="username" th:value="${uName}"><br>
            <button style="border-radius: 25px" type="submit" value="submit">Submit</button><br>
        </form>
    </div>
</div>
</body>
</html>
