<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <head><head th:replace="partials/fragment :: head('reset-pass-hidden-input')"></head>
        <meta charset="UTF-8">
        <title>Reset Password</title>
    </head>
<body>
<nav th:replace="partials/fragment :: navbar"></nav>
<div class="container">
    <div class="card">
        <h1 class="loginTitle">Reset Password Required Information</h1>

        <form th:action="@{/login}"method="post">
            <label for="username">User Name:</label><br>
            <input type="text" id="userpassword" name="username" placeholder="User Name" required><br>
            <br>
            <form th:action="@{/login}"method="post">
                <label for="username">Password:</label><br>
                <input type="text" id="userpassword1" name="username" placeholder="User Name" required><br>
                <br>
                <form th:action="@{/login}"method="post">
                    <label for="username">Verify Password:</label><br>
                    <input type="text" id="username" name="username" placeholder="User Name" required><br>
            <br>
            <button style="border-radius: 25px" type="submit" value="submit">Submit</button><br>
        </form>
    </div>
</div>
</body>
</body>
</html>