<!DOCTYPE html>
<html lang="en">
<head th:replace="partials/fragment :: head('Verification Successful')"></head>
<body class="container">
<nav th:replace="partials/fragment :: navbar"></nav>
<div class="container">
    <div class="card">
        <div class="content">
            <div class="container text-center">
                <h3>Congratulations, user verification was successful!</h3>
                <h4><a th:href="@{/login}">Click here to login</a></h4>
            </div>
        </div>
    </div>
</div>
</body>
</html>
